<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>WiiMote</string>
	<key>CFBundleExecutable</key>
	<string>WiiMoteOpenGLDemo</string>
	<key>CFBundleIconFile</key>
	<string>wiimote_logo_55px.png</string>
	<key>CFBundleIdentifier</key>
	<string>ch.ringwald.wiimoteopengldemo</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WiiMote</string>
	<key>DTSDKName</key>
	<string>appletvos11.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>DTXcode</key>
	<string>0900</string>
	<key>DTSDKBuild</key>
	<string>15J380</string>
	<key>BuildMachineOSBuild</key>
	<string>16G29</string>
	<key>DTPlatformName</key>
	<string>appletvos</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>AppleTVOS</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>3</integer>
	</array>
	<key>DTPlatformVersion</key>
	<string>11.0</string>
	<key>DTXcodeBuild</key>
	<string>9A235</string>
</dict>
</plist>
