Package: ch.ringwald.btstack
Name: BTstack
Description: Portable User-Space Bluetooth Stack
Section: Networking
Architecture: appletvos-arm64
Depends: firmware (>= 3.0) 
Author: Mattthias Ringwald <tickets@btstack.uservoice.com>
Maintainer: Mattthias Ringwald <tickets@btstack.uservoice.com>
Version: 1.1
